@import "bulma";

$brown: #49240A;
$background: #FFD6A8;

body {
  text-align: center;
  // background-color: $background;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.employeeForm {
  margin: 0 auto;
  width: 80%;
}
input {
  width: 50%;
  margin: 4px;
}

h1 {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
  color: $brown;
}
h5 {
  margin: 0;
}

img {
  border-radius: 50%;
}
.box {
  margin: 0 auto;
  width: 80%;
}
